@font-face {
    font-family: 'SF Pro';
    src: url(fonts/SF-Pro.ttf);
}

@font-face {
    font-family: 'SF Pro Italic';
    src: url(fonts/SF-Pro-Italic.ttf);
}

@font-face {
    font-family: 'SF Pro Display Black';
    src: url(fonts/SF-Pro-Display-Black.otf);
}

@font-face {
    font-family: 'SF Pro Display Black Italic';
    src: url(fonts/SF-Pro-Display-BlackItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Bold';
    src: url(fonts/SF-Pro-Display-Bold.otf);
}

@font-face {
    font-family: 'SF Pro Display Bold Italic';
    src: url(fonts/SF-Pro-Display-BoldItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Heavy';
    src: url(fonts/SF-Pro-Display-Heavy.otf);
}

@font-face {
    font-family: 'SF Pro Display Heavy Italic';
    src: url(fonts/SF-Pro-Display-HeavyItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Light';
    src: url(fonts/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: 'SF Pro Display Light Italic';
    src: url(fonts/SF-Pro-Display-LightItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Medium';
    src: url(fonts/SF-Pro-Display-Medium.otf);
}

@font-face {
    font-family: 'SF Pro Display Medium Italic';
    src: url(fonts/SF-Pro-Display-MediumItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Regular';
    src: url(fonts/SF-Pro-Display-Regular.otf);
}

@font-face {
    font-family: 'SF Pro Display Semibold';
    src: url(fonts/SF-Pro-Display-Semibold.otf);
}

@font-face {
    font-family: 'SF Pro Display Semibold Italic';
    src: url(fonts/SF-Pro-Display-SemiboldItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Thin';
    src: url(fonts/SF-Pro-Display-Thin.otf);
}

@font-face {
    font-family: 'SF Pro Display Thin Italic';
    src: url(fonts/SF-Pro-Display-ThinItalic.otf);
}

@font-face {
    font-family: 'SF Pro Display Ultralight';
    src: url(fonts/SF-Pro-Display-Ultralight.otf);
}

@font-face {
    font-family: 'SF Pro Display Ultralight Italic';
    src: url(fonts/SF-Pro-Display-UltralightItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Black';
    src: url(fonts/SF-Pro-Text-Black.otf);
}

@font-face {
    font-family: 'SF Pro Text Black Italic';
    src: url(fonts/SF-Pro-Text-BlackItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Bold';
    src: url(fonts/SF-Pro-Text-Bold.otf);
}

@font-face {
    font-family: 'SF Pro Text Bold Italic';
    src: url(fonts/SF-Pro-Text-BoldItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Heavy';
    src: url(fonts/SF-Pro-Text-Heavy.otf);
}

@font-face {
    font-family: 'SF Pro Text Heavy Italic';
    src: url(fonts/SF-Pro-Text-HeavyItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Light';
    src: url(fonts/SF-Pro-Text-Light.otf);
}

@font-face {
    font-family: 'SF Pro Text Light Italic';
    src: url(fonts/SF-Pro-Text-LightItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Medium';
    src: url(fonts/SF-Pro-Text-Medium.otf);
}

@font-face {
    font-family: 'SF Pro Text Medium Italic';
    src: url(fonts/SF-Pro-Text-MediumItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Regular';
    src: url(fonts/SF-Pro-Text-Regular.otf);
}

@font-face {
    font-family: 'SF Pro Text Semibold';
    src: url(fonts/SF-Pro-Text-Semibold.otf);
}

@font-face {
    font-family: 'SF Pro Text Semibold Italic';
    src: url(fonts/SF-Pro-Text-SemiboldItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Thin';
    src: url(fonts/SF-Pro-Text-Thin.otf);
}

@font-face {
    font-family: 'SF Pro Text Thin Italic';
    src: url(fonts/SF-Pro-Text-ThinItalic.otf);
}

@font-face {
    font-family: 'SF Pro Text Ultralight';
    src: url(fonts/SF-Pro-Text-Ultralight.otf);
}

@font-face {
    font-family: 'SF Pro Text Ultralight Italic';
    src: url(fonts/SF-Pro-Text-UltralightItalic.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Black';
    src: url(fonts/SF-Pro-Rounded-Black.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Bold';
    src: url(fonts/SF-Pro-Rounded-Bold.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Heavy';
    src: url(fonts/SF-Pro-Rounded-Heavy.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Light';
    src: url(fonts/SF-Pro-Rounded-Light.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Medium';
    src: url(fonts/SF-Pro-Rounded-Medium.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Regular';
    src: url(fonts/SF-Pro-Rounded-Regular.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Semibold';
    src: url(fonts/SF-Pro-Rounded-Semibold.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Thin';
    src: url(fonts/SF-Pro-Rounded-Thin.otf);
}

@font-face {
    font-family: 'SF Pro Rounded Ultralight';
    src: url(fonts/SF-Pro-Rounded-Ultralight.otf);
}