@import url(icons.css);

:root {
	--font-color-base: hsl(0, 0%, 0%);
	--link-color: rgb(0, 106, 255);
}

body {
	background: url(../background.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: rgb(34, 34, 40);
	color: white;
	height: auto;
	margin: 10px;
}

* {
	font-family: "Roboto", sans-serif !important;
	font-weight: normal;
	text-rendering: optimizeLegibility;
	font-stretch: normal;
	color: var(--font-color-base);
}

a {
	color: var(--link-color) !important;
	text-decoration: none;
	font-weight: normal;
}

.pic {
	background-image: url(../image.jpg);
	background-size: cover;
	width: 8rem;
	min-width: 100px;
	aspect-ratio: 1/1;
	border-radius: 100%;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

.card {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 35px;
	line-height: 1.6rem;
	width: 40%;
	min-width: 250px;
	max-width: 80%;
	height: auto;
	margin: 0;
	display: flex;
	gap: 20px;
	flex-direction: column;
}

.card .person {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 40px;
}

@media screen and (max-width: 1215px) {
	.card .person {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}

	.pic {
		width: 7rem;
	}
}

.card .data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card .data .names {
	font-size: 1.3rem;
	font-weight: 400;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 5px;
}

.card .data .name .last-name {
	font-weight: bold;
}

.nick {
	color: hsl(0, 0%, 30%);
	font-size: 0.9rem;
	margin-left: 10px;
}

.card .data .birth {
	font-size: 0.85rem;
}

.card .contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 0.8rem;
}

.card .contact .main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	text-align: center;
	width: max-content;
}

.card .contact .main [class^="linearicons-"]::before {
	font-weight: 600;
}

.card .contact .phone,
.card .contact .email {
	background-color: white;
	border-radius: 10px;
	width: max-content;
}

.card .contact .phone a *,
.card .contact .email a * {
	color: var(--link-color) !important;
	text-shadow: none;
	font-weight: bold;
}

.card .contact .social div::before {
	font-family: "Linearicons" !important;
	content: "\ec17";
	speak: none;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	top: 2px;
}

.card .contact .social li {
	display: inline-block;
	list-style: none;
	margin: 0 5px;
}

.add-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 5px;
}

.add-contact img {
	width: 7rem;
	height: auto;
	aspect-ratio: 1/1;
	padding: 0;
}

.add-contact .qr-text {
	background-color: white;
}

.add-contact .qr-text * {
	color: var(--link-color) !important;
	font-size: 0.8rem;
	text-shadow: none;
}

@media screen and (max-height: 650px) {
	.card {
		width: fit-content;
		min-width: 500px !important;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 40px;
	}

	.card .contact {
		/* margin-right: 20px;
		margin-left: 20px; */
	}
}
